version: "3.9"

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - blog-network

  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5500:5500"
    env_file:
      - ./backend/.env
    environment:
      - MONGO_URL=mongodb://mongodb:27017/BlogBoiDB
    depends_on:
      - mongodb
    networks:
      - blog-network
    restart: unless-stopped

networks:
  blog-network:
    driver: bridge

volumes:
  mongodb_data:
